.rounded-btn {
    border-radius: 60%;
}

.transparent {
    background-color: transparent;
    border: none;

    &:hover,
    &:active {
        background-color: rgba(28, 31, 34, 0.1) !important;
    }
}
