:root {
    --product-library-navbar-idle-fill: #faf8f7;
    --product-library-navbar-hover-fill: #f6efee;
    --product-library-navbar-selected-fill: #fee6e3;
    --product-library-navbar-on-selected-tint: #c3392c;
    --product-library-actionable-primary-idle-fill: #dc4c3e;
    --product-library-actionable-primary-hover-fill: #c3392c;
    --product-library-actionable-primary-disabled-fill: #eda59e;
    --product-library-actionable-tertiary-idle-tint: #ffaaa1;
    --product-library-actionable-tertiary-hover-tint: #ffaaa1;
    --product-library-actionable-tertiary-disabled-tint: #ffaaa1;
    --text: #202020;
    --text-secondary: #666;
    --fb-logo: #0866ff;
}

li {
    list-style-type: none;
}

ul,
li {
    margin: 0;
    padding: 0;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: orange;
}

*::-webkit-scrollbar-thumb {
    background-color: blue;
    border-radius: 20px;
    border: 3px solid orange;
}

[contenteditable='true']:empty:before {
    content: attr(placeholder);
    pointer-events: none;
    display: block; /* For Firefox */
}
