:root {
    --product-library-navbar-idle-fill: #faf8f7;
    --product-library-navbar-hover-fill: #f6efee;
    --product-library-navbar-selected-fill: #fee6e3;
    --product-library-navbar-on-selected-tint: #c3392c;
    --product-library-actionable-primary-idle-fill: #dc4c3e;
    --product-library-actionable-primary-hover-fill: #c3392c;
    --product-library-actionable-primary-disabled-fill: #eda59e;
    --product-library-actionable-tertiary-idle-tint: #ffaaa1;
    --product-library-actionable-tertiary-hover-tint: #ffaaa1;
    --product-library-actionable-tertiary-disabled-tint: #ffaaa1;
    --text: #202020;
    --fb-logo: #0866ff;
}
