.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar {
    width: 250px;
}

.offcanvas {
    display: none;
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .offcanvas {
        width: 100px;
        display: block;
    }
}
