.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar {
    width: 250px;
    position: fixed;
    top: 56px;
}

.offcanvas {
    display: none;
}

.main-content {
    margin-top: 80px;
    margin-left: 314px;
    width: 60%;
    overflow-y: auto;
    &.noSidebar {
        margin-left: 200px;
    }
}

@media screen and (max-width: 768px) {
    .sidebar {
        display: none;
    }

    .offcanvas {
        width: 50% !important;
        display: block;
    }

    .main-content {
        margin-left: 40px;

        &.noSidebar {
            margin-left: 0;
        }
    }
}
