.title {
    font-size: 14px;
    font-weight: 600;
}

.content {
    cursor: pointer;
    font-size: 12px;
    font-weight: 400;
    margin-top: 8px;
    display: flex;
    &.text {
        text-align: center;
    }
}
